<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421200004739-nmua3kjhjdah56dj70ed3dk7tpsqqblb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421200004739-nmua3kjhjdah56dj70ed3dk7tpsqqblb</string>
	<key>API_KEY</key>
	<string>AIzaSyBxOFPB7xp3QyoVEKFqNNBQ3Wc6LNvCuYg</string>
	<key>GCM_SENDER_ID</key>
	<string>421200004739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>login-page-jpv</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-jpv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421200004739:ios:55dd24c9dd48db9dd57db6</string>
</dict>
</plist>